{% extends 'staffapp/base.html' %}
{% load static %}
{% block title %}Система КПД{% endblock %}
{% block content %}
    <h3>Сотрудники:</h3>
<div class="small-box">
    {% for item in staff %}
        <a href="{% url 'staffapp:staff_info' item.pk %}" class="card-links">
            <div class="card-staff">
                <p><img src="{{ item.photo.url }}" alt="" width="200"></p>
                <p>ФИО: {{ item.name }}</p>
                <p>Город: {{ item.city }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}