{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>
</head>
<body>
<div>
<p>Имя: {{ staff.name }}</p>
<p>Должность: {{ staff.position }}</p>
<p>В должности с: {{ staff.appointments_date }} </p>

    <h3>Список действий</h3>
    <table>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>План</th>
            <th>KPI</th>
        </tr>
        {% for item in actions %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.get_number_of_completed_action_and_kpi.completed_amount }}</td>
                <td>{{ item.get_number_of_completed_action_and_kpi.plan_amount }}</td>
                <td>{{ item.get_number_of_completed_action_and_kpi.kpi|floatformat:0 }} %</td>
            </tr>
        {%  endfor %}
    </table>
</div>
<div>
    <h3>Список действий</h3>
    <table>
        <tr>
            <th>Название</th>
            <th>План</th>
            <th>Текущий месяц</th>
            <th>Прошлый месяц</th>
        </tr>
        {% for item in actions %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.get_number_of_completed_action_and_kpi.plan_amount }}</td>
                <td>{{ item.get_number_of_completed_action_and_kpi.completed_amount }} ({{ item.get_number_of_completed_action_and_kpi.kpi|floatformat:0 }} %)</td>
                <td>{{ item.get_number_of_completed_action_and_kpi_prev_month.completed_amount }} ({{ item.get_number_of_completed_action_and_kpi_prev_month.kpi|floatformat:0 }} %)</td>
            </tr>
        {%  endfor %}
            <tr>
                <td colspan="2">KPI общее</td>
                <td>{{ total_kpi_current_month|floatformat:0 }} %</td>
                <td>{{ total_kpi_previous_month|floatformat:0 }} %</td>
            </tr>
    </table>
</div>
<div>
    <h3>Список клиентов</h3>
    <table>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Адрес</th>
        </tr>
        {% for item in staff.get_clients %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.phone_number }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.address }}</td>
            </tr>
        {%  endfor %}
    </table>
</div>
</body>
</html>