{% extends 'staffapp/base.html' %}
{% load static %}
{% block title %}Карточка менеджера: {{ staff.name }}{% endblock %}
{% block content %}

<div>
<p>ФИО: {{ staff.name }}</p>
<p>Должность: {{ staff.position }}</p>
<p>В должности с: {{ staff.appointments_date }} </p>
<p>Эффективные месяцы: {{ staff.effective_months }} </p>
<p>Неэффективные месяцы: {{ staff.ineffective_months }} </p>


</div>
<div class="small-box container">
<div class="card-wrap">
    <p class="card-top">
        <span class="card-header">Текущий месяц</span>
        <span>KPI:
            <span style="font-size:20px; font-weight: 700; color:{% if total_kpi_current_month < 60 %}red{% elif total_kpi_current_month <= 85 %}orange{% else %}green{% endif %};">
                {{ total_kpi_current_month|floatformat:0 }} %
            </span>
        </span>
        <span id="cur_kpi_btn" class="green-btn">
            Подробнее
        </span>
    </p>
        <hr class="card-hr">
    <div class="card-wrap card-action" id="cur_actions">
        <table class="table">
            <tr>
                <th class="cells">Действие</th>
                <th class="cells">Выполнено</th>
                <th class="cells">План</th>
                <th class="cells">КПД</th>
            </tr>
            {% for item in actions %}
                <tr>
                    <td class="cells"><span class="table-str">{{ item.name }}</span></td>
                    <td class="cells">{{ item.get_number_of_completed_action_and_kpi.completed_amount }}</td>
                    <td class="cells">{{ item.amount }}</td>
                    <td class="cells">{{ item.get_number_of_completed_action_and_kpi.kpi|floatformat:0 }} %</td>
                </tr>
            {%  endfor %}
        </table>
    </div>
</div>
    <div class="card-wrap">
        <p class="card-top">
            <span class="card-header">Предыдущий месяц</span>
            <span>KPI:
                <span style="font-size:20px; font-weight: 700; color:{% if total_kpi_previous_month < 60 %}red{% elif total_kpi_previous_month <= 85 %}orange{% else %}green{% endif %};">
                    {{ total_kpi_previous_month|floatformat:0 }} %
                </span>
            </span>
            <span id="pre_kpi_btn" class="green-btn">
                Подробнее
            </span>
        </p>
        <hr class="card-hr">
        <div class="card-wrap card-action" id="pre_actions">
        <table class="table">
            <tr>
                <th class="cells"><span class="table-str"></span>Действие</th>
                <th class="cells">Выполнено</th>
                <th class="cells">План</th>
                <th class="cells">КПД</th>
            </tr>
            {% for item in actions %}
                <tr>
                    <td class="cells"><span class="table-str">{{ item.name }}</span></td>
                    <td class="cells">{{ item.get_number_of_completed_action_and_kpi_prev_month.completed_amount }}</td>
                    <td class="cells">{{ item.amount }}</td>
                    <td class="cells">{{ item.get_number_of_completed_action_and_kpi_prev_month.kpi|floatformat:0 }} %</td>
                </tr>
            {%  endfor %}
        </table>
        </div>
    </div>
</div>
<div class="card-wrap" style="width: 100%">
    <div class="client-list-header">
        <span class="card-header">Количество клиентов: {{ staff.get_clients.clients_amount }}</span>
        <span id="client_list_btn" class="green-btn">
            Показать список клиентов
        </span>
    </div>
    <hr class="card-hr">
    <div class="client-list container" id="client_list">

        <table class="table">
            <tr>
                <th class="cells">Имя</th>
                <th class="cells">Телефон</th>
                <th class="cells">Email</th>
                <th class="cells">Адрес</th>
            </tr>
            {% for item in staff.get_clients.clients %}
                <tr>
                    <td class="cells">{{ item.name }}</td>
                    <td class="cells">{{ item.phone_number }}</td>
                    <td class="cells">{{ item.email }}</td>
                    <td class="cells">{{ item.address }}</td>
                </tr>
            {%  endfor %}
        </table>
    </div>
</div>

    <script>
        $('#cur_kpi_btn').click(function() {
            if ($('#cur_actions').is(':visible')) {
                $('#cur_actions').hide('slow');
                $(this).html('Подробнее')
            }
            else {
                $('#cur_actions').show('slow');
                $(this).html('Скрыть')
            }
        });

        $('#pre_kpi_btn').click(function() {
            if ($('#pre_actions').is(':visible')) {
                $('#pre_actions').hide('slow');
                $(this).html('Подробнее')
            }
            else {
                $('#pre_actions').show('slow');
                $(this).html('Скрыть')
            }
        });

        $('#client_list_btn').click(function() {
            if ($('#client_list').is(':visible')) {
                $('#client_list').hide('slow');
                $(this).html('Показать список клиентов')
            }
            else {
                $('#client_list').show('slow');
                $(this).html('Убрать список клиентов')
            }
        });
    </script>

{% endblock %}